
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# App
subscription-app/vendor/
subscription-app/var/
subscription-app/build/
subscription-app/coverage/
!subscription-app/var/.gitkeep
subscription-app/.env.local
subscription-app/.env.*.local
subscription-app/.env.test.local
subscription-app/config/jwt/*.pem
!subscription-app/config/jwt/.gitignore
subscription-app/.phpunit.result.cache
subscription-app/.phpunit.cache
subscription-app/.php-cs-fixer.cache
subscription-app/.phpstan/
subscription-app/*.log
subscription-app/*.sql
subscription-app/*.dump

# Infra
subscription-infra/.env
subscription-infra/.env.local
subscription-infra/.env.*.local
subscription-infra/docker-compose.override.yml
subscription-infra/logs/
subscription-infra/*.log
subscription-infra/*.pid
subscription-infra/*.tar
subscription-infra/dbdata/

# IDE/OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
